{{#partial "contenido"}}
	     <div class="container">
	     <div class="row">
	        <div class="col-sm-12">
	        <br/>
			<h3><strong>Indicador eliminado correctamente</strong></h3>
			<br/>
	        <a href="/Indicadores" class="btn btn-danger" role="button">Volver</a>
	        </div>
	     </div>
	     </div>
{{/partial}}

{{>layout.hbs}}	        