     <div class="row">
        <div class="col-sm-12">
           <div class="md-form form-sm">
              <input type="text" name="empresa" id="empresa" class="form-control" required pattern="[A-Za-z]+" title="(empresas posibles: {{empresas}})" value={{empresaSeleccionada}}>
              <label for="empresa" class="control-label">Elija una empresa</label>
           </div>
        </div>
        <div class="col-sm-12">
           <div class="md-form form-sm">
              <input type="text" id="anio" name="anio" class="form-control" required pattern="[0-9]+" title="(año inválido)" maxlength="4" minlength="4" value={{anio}}>
              <label for="anio" class="control-label">Ingrese el A&ntilde;o</label>
           </div>
        </div>
     </div>

