<head>
	<meta charset="utf-8" class="full-height">
	<title>¿D&oacute;nde invierto?</title>
	<meta name = "viewport" content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no" >
	<meta http-equiv = "x-ua-compatible" content = "ie=edge">
	<link rel="icon" type="image" href="http://assets.tiempo.com.mx/uploads/imagen/imagen/105041/dollar-sign.jpg">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

	<link href = "/css/bootstrap.min.css" rel = "stylesheet">    
	<link href = "/css/mdb.min.css" rel = "stylesheet">
	<link href = "/css/bootstrap-reboot.min.css" rel = "stylesheet">
	<link href = "/css/bootstrap-grid.min.css" rel = "stylesheet">
</head>
      