<!DOCTYPE HTML>
<html lang="es">
	{{>head.hbs}}
  <body>
    <header>
		{{>navBar.hbs}}
	</header>
        <h1 class="animated bounceIn">¿D&oacute;nde invierto?</h1>
			{{#block "contenido"}}
			{{/block}}
	{{>javaScript.hbs}}
  </body>
  {{>footer.hbs}}
</html>