{{#partial "contenido"}}
	<div class="container">
	   <h3 class="card-header">{{excepcion}}</h3>
	   <br>
	</div>
	<form action="/" method="GET">
	   <input class="btn btn-primary" type="submit" value="VOLVER">
	</form>
{{/partial}}

{{>layoutLogin.hbs}}

